# 
# .prettierignore
# use this file to ignore files and folders from prettier
# see https://prettier.io/docs/en/ignore.html
# 

# compiled output
dist
tmp
/out-tsc
/coverage

# misc
CODEOWNERS
.vercelignore
pnpm-lock.yaml
.github/ISSUE_TEMPLATE/config.yaml